In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
master_movie = pd.read_csv("data/master_movie.csv", index_col = 0)
master_movie.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,genres,averagerating,numvotes,category,name
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actor,Johnny Depp
1,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actress,Penélope Cruz
2,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actor,Ian McShane
3,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actor,Geoffrey Rush
4,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,director,Rob Marshall

In [77]:
genre_df = master_movie.copy()

In [78]:
genre_df.drop_duplicates(subset = "movie_id", inplace = True)

In [79]:
genre_df.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,genres,averagerating,numvotes,category,name
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actor,Johnny Depp
5,tt2395427,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,BV,"Action,Adventure,Sci-Fi",7.3,665594,producer,Kevin Feige
11,tt4154756,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,BV,"Action,Adventure,Sci-Fi",8.5,670926,actor,Robert Downey Jr.
17,tt0974015,2017-11-17,Justice League,300000000,229024295,655945209,WB,"Action,Adventure,Fantasy",6.5,329135,actor,Ben Affleck
22,tt2379713,2015-11-06,Spectre,300000000,200074175,879620923,Sony,"Action,Adventure,Thriller",6.8,352504,actor,Daniel Craig

In [80]:
genre_df[['genre_1', 'genre_2', 'genre_3']] = genre_df['genres'].str.split(',', expand = True)
genre_df.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,genres,averagerating,numvotes,category,name,genre_1,genre_2,genre_3
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"Action,Adventure,Fantasy",6.6,447624,actor,Johnny Depp,Action,Adventure,Fantasy
5,tt2395427,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,BV,"Action,Adventure,Sci-Fi",7.3,665594,producer,Kevin Feige,Action,Adventure,Sci-Fi
11,tt4154756,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,BV,"Action,Adventure,Sci-Fi",8.5,670926,actor,Robert Downey Jr.,Action,Adventure,Sci-Fi
17,tt0974015,2017-11-17,Justice League,300000000,229024295,655945209,WB,"Action,Adventure,Fantasy",6.5,329135,actor,Ben Affleck,Action,Adventure,Fantasy
22,tt2379713,2015-11-06,Spectre,300000000,200074175,879620923,Sony,"Action,Adventure,Thriller",6.8,352504,actor,Daniel Craig,Action,Adventure,Thriller

In [81]:
genre_df.drop(['genres', 'category', 'name'], axis = 1, inplace = True)

In [82]:
genre_df.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,averagerating,numvotes,genre_1,genre_2,genre_3
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,6.6,447624,Action,Adventure,Fantasy
5,tt2395427,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,BV,7.3,665594,Action,Adventure,Sci-Fi
11,tt4154756,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,BV,8.5,670926,Action,Adventure,Sci-Fi
17,tt0974015,2017-11-17,Justice League,300000000,229024295,655945209,WB,6.5,329135,Action,Adventure,Fantasy
22,tt2379713,2015-11-06,Spectre,300000000,200074175,879620923,Sony,6.8,352504,Action,Adventure,Thriller

In [83]:
genre_df['genre_1'].value_counts()

Action         375
Drama          283
Comedy         256
Adventure      140
Biography      109
Horror          75
Crime           71
Documentary     41
Thriller        12
Animation        9
unknown          6
Fantasy          5
Family           4
Mystery          3
Sci-Fi           1
Sport            1
Romance          1
Music            1
Name: genre_1, dtype: int64

In [84]:
genre_df['genre_2'].value_counts()

Drama          318
Adventure      160
Comedy         111
Crime           88
Romance         85
Thriller        70
Mystery         68
Animation       68
Fantasy         43
Horror          41
Family          32
Music           22
Sci-Fi          20
Biography       12
History         11
Sport           11
Documentary      6
War              3
Western          3
News             1
Musical          1
Name: genre_2, dtype: int64

In [85]:
genre_df['genre_3'].value_counts()

Thriller     152
Drama        115
Romance       93
Sci-Fi        89
Comedy        83
Fantasy       55
Crime         43
Family        39
Mystery       38
History       33
Horror        31
Sport         18
Music         17
Animation     13
War           10
Musical        5
Western        5
Biography      3
News           1
Name: genre_3, dtype: int64

In [86]:
genre_df[['genre_1','genre_2','genre_3']].apply(pd.Series.value_counts)

             genre_1  genre_2  genre_3
Action         375.0      NaN      NaN
Adventure      140.0    160.0      NaN
Animation        9.0     68.0     13.0
Biography      109.0     12.0      3.0
Comedy         256.0    111.0     83.0
Crime           71.0     88.0     43.0
Documentary     41.0      6.0      NaN
Drama          283.0    318.0    115.0
Family           4.0     32.0     39.0
Fantasy          5.0     43.0     55.0
History          NaN     11.0     33.0
Horror          75.0     41.0     31.0
Music            1.0     22.0     17.0
Musical          NaN      1.0      5.0
Mystery          3.0     68.0     38.0
News             NaN      1.0      1.0
Romance          1.0     85.0     93.0
Sci-Fi           1.0     20.0     89.0
Sport            1.0     11.0     18.0
Thriller        12.0     70.0    152.0
War              NaN      3.0     10.0
Western          NaN      3.0      5.0
unknown          6.0      NaN      NaN

In [87]:
genre_df.shape

(1393, 12)

In [88]:
type(genre_df[['genre_1','genre_2','genre_3']].apply(pd.Series.value_counts))

pandas.core.frame.DataFrame

In [89]:
genre_df_cleaned = genre_df[['genre_1','genre_2','genre_3']].apply(pd.Series.value_counts)
genre_df_cleaned.head()

           genre_1  genre_2  genre_3
Action       375.0      NaN      NaN
Adventure    140.0    160.0      NaN
Animation      9.0     68.0     13.0
Biography    109.0     12.0      3.0
Comedy       256.0    111.0     83.0

In [90]:
genre_df_cleaned = genre_df_cleaned.replace(np.nan, 0)

In [91]:
genre_df_cleaned.head()

           genre_1  genre_2  genre_3
Action       375.0      0.0      0.0
Adventure    140.0    160.0      0.0
Animation      9.0     68.0     13.0
Biography    109.0     12.0      3.0
Comedy       256.0    111.0     83.0

In [92]:
genre_df_cleaned['total_column'] = genre_df_cleaned.sum(axis = 1)

In [93]:
genre_df_cleaned

             genre_1  genre_2  genre_3  total_column
Action         375.0      0.0      0.0         375.0
Adventure      140.0    160.0      0.0         300.0
Animation        9.0     68.0     13.0          90.0
Biography      109.0     12.0      3.0         124.0
Comedy         256.0    111.0     83.0         450.0
Crime           71.0     88.0     43.0         202.0
Documentary     41.0      6.0      0.0          47.0
Drama          283.0    318.0    115.0         716.0
Family           4.0     32.0     39.0          75.0
Fantasy          5.0     43.0     55.0         103.0
History          0.0     11.0     33.0          44.0
Horror          75.0     41.0     31.0         147.0
Music            1.0     22.0     17.0          40.0
Musical          0.0      1.0      5.0           6.0
Mystery          3.0     68.0     38.0         109.0
News             0.0      1.0      1.0           2.0
Romance          1.0     85.0     93.0         179.0
Sci-Fi           1.0     20.0     89.0         110.0
Sport            1.0     11.0     18.0          30.0
Thriller        12.0     70.0    152.0         234.0
War              0.0      3.0     10.0          13.0
Western          0.0      3.0      5.0           8.0
unknown          6.0      0.0      0.0           6.0

In [94]:
genre_df_cleaned['total_column'].sort_values(ascending = False)

Drama          716.0
Comedy         450.0
Action         375.0
Adventure      300.0
Thriller       234.0
Crime          202.0
Romance        179.0
Horror         147.0
Biography      124.0
Sci-Fi         110.0
Mystery        109.0
Fantasy        103.0
Animation       90.0
Family          75.0
Documentary     47.0
History         44.0
Music           40.0
Sport           30.0
War             13.0
Western          8.0
Musical          6.0
unknown          6.0
News             2.0
Name: total_column, dtype: float64

WE now have our top 5 genre counts and totals and now we want to compare that with the gross revenue numbers.

In [120]:
genre_df["ROI"] = ((genre_df['worldwide_gross'] - genre_df['production_budget']) / genre_df['production_budget']) * 100

In [121]:
genre_df.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,averagerating,numvotes,genre_1,genre_2,genre_3,ROI
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,6.6,447624,Action,Adventure,Fantasy,154.667286
5,tt2395427,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,BV,7.3,665594,Action,Adventure,Sci-Fi,324.384139
11,tt4154756,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,BV,8.5,670926,Action,Adventure,Sci-Fi,582.711400
17,tt0974015,2017-11-17,Justice League,300000000,229024295,655945209,WB,6.5,329135,Action,Adventure,Fantasy,118.648403
22,tt2379713,2015-11-06,Spectre,300000000,200074175,879620923,Sony,6.8,352504,Action,Adventure,Thriller,193.206974

need graph for genre/revenue and genre/roi to tell the story of just because the movie makes money, does not make it necessarily profitable. (different production budgets, other factors, etc)

In [103]:
action_ww_gross_df = genre_df[genre_df.isin((["Action"])).any(axis = 1)]

In [104]:
action_ww_gross_df['worldwide_gross'].sum()

96698477320

We can now get genres data to numbers like sum. Functions can make this more efficient.

In [105]:
genre_ww_revenue = master_movie.copy()

In [106]:
genre_ww_revenue['genres'] = genre_ww_revenue['genres'].str.split(',')

In [107]:
genre_ww_revenue.head()

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,genres,averagerating,numvotes,category,name
0,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"[Action, Adventure, Fantasy]",6.6,447624,actor,Johnny Depp
1,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"[Action, Adventure, Fantasy]",6.6,447624,actress,Penélope Cruz
2,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"[Action, Adventure, Fantasy]",6.6,447624,actor,Ian McShane
3,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"[Action, Adventure, Fantasy]",6.6,447624,actor,Geoffrey Rush
4,tt1298650,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,BV,"[Action, Adventure, Fantasy]",6.6,447624,director,Rob Marshall

In [109]:
drama_ww_gross_df = genre_df[genre_df.isin(['Drama']).any(axis = 1)]
comedy_ww_gross_df = genre_df[genre_df.isin(['Comedy']).any(axis = 1)]
action_ww_gross_df = genre_df[genre_df.isin(['Action']).any(axis = 1)]
adventure_ww_gross_df = genre_df[genre_df.isin(['Adventure']).any(axis = 1)]
thriller_ww_gross_df = genre_df[genre_df.isin(['Thriller']).any(axis = 1)]
crime_ww_gross_df = genre_df[genre_df.isin(['Crime']).any(axis = 1)]
romance_ww_gross_df = genre_df[genre_df.isin(['Romance']).any(axis = 1)]
horror_ww_gross_df = genre_df[genre_df.isin(['Horror']).any(axis = 1)]
biography_ww_gross_df = genre_df[genre_df.isin(['Biography']).any(axis = 1)]
sciFi_ww_gross_df = genre_df[genre_df.isin(['SciFi']).any(axis = 1)]
mystery_ww_gross_df = genre_df[genre_df.isin(['Mystery']).any(axis = 1)]
fantasy_ww_gross_df = genre_df[genre_df.isin(['Fantasy']).any(axis = 1)]
animation_ww_gross_df = genre_df[genre_df.isin(['Animation']).any(axis = 1)]
family_ww_gross_df = genre_df[genre_df.isin(['Family']).any(axis = 1)]
documentary_ww_gross_df = genre_df[genre_df.isin(['Documentary']).any(axis = 1)]
history_ww_gross_df = genre_df[genre_df.isin(['History']).any(axis = 1)]
music_ww_gross_df = genre_df[genre_df.isin(['Music']).any(axis = 1)]
sport_ww_gross_df = genre_df[genre_df.isin(['Sport']).any(axis = 1)]
war_ww_gross_df = genre_df[genre_df.isin(['War']).any(axis = 1)]
western_ww_gross_df = genre_df[genre_df.isin(['Western']).any(axis = 1)]
musical_ww_gross_df = genre_df[genre_df.isin(['Musical']).any(axis = 1)]
unknown_ww_gross_df = genre_df[genre_df.isin(['Unknown']).any(axis = 1)]
news_ww_gross_df = genre_df[genre_df.isin(['News']).any(axis = 1)]

In [110]:
drama_ww_gross_df

,movie_id,release_date,movie,production_budget,domestic_gross,worldwide_gross,studio,averagerating,numvotes,genre_1,genre_2,genre_3,ROI
143,tt0955308,2010-05-14,Robin Hood,210000000,105487148,322459006,Uni.,6.6,239480,Action,Adventure,Drama,53.551908
149,tt2363363,2010-05-14,Robin Hood,210000000,105487148,322459006,Uni.,6.3,78,Action,Drama,None,53.551908
348,tt1856101,2017-10-06,Blade Runner 2049,185000000,92054159,259357408,WB,8.0,376241,Drama,Mystery,Sci-Fi,40.193194
365,tt0918940,2016-07-01,The Legend of Tarzan,180000000,126643061,348902025,WB,6.3,150154,Action,Adventure,Drama,93.834458
372,tt0970179,2011-11-23,Hugo,180000000,73864507,180047784,Par.,7.5,284869,Adventure,Drama,Family,0.026547
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9601,tt1549572,2011-07-22,Another Earth,175000,1321194,2102779,FoxS,7.0,85839,Drama,Romance,Sci-Fi,1101.588000
9608,tt1748207,2012-04-27,Sound of My Voice,135000,408015,429448,FoxS,6.6,19387,Drama,Mystery,Sci-Fi,218.109630
9615,tt1742336,2012-06-15,Your Sister's Sister,120000,1597486,3090593,IFC,6.7,24780,Comedy,Drama,None,2475.494167
9631,tt6265828,2017-07-07,A Ghost Story,100000,1594798,2769782,A24,6.8,46280,Drama,Fantasy,Romance,2669.782000
9639,tt1570989,2010-11-12,Tiny Furniture,50000,391674,424149,IFC,6.2,13397,Comedy,Drama,Romance,748.298000

In [131]:
drama_ROI_mean = drama_ww_gross_df['ROI'].mean()
comedy_ROI_mean = comedy_ww_gross_df['ROI'].mean()
action_ROI_mean = action_ww_gross_df['ROI'].mean()
adventure_ROI_mean = adventure_ww_gross_df['ROI'].mean()
thriller_ROI_mean = thriller_ww_gross_df['ROI'].mean()
crime_ROI_mean = crime_ww_gross_df['ROI'].mean()
romance_ROI_mean = romance_ww_gross_df['ROI'].mean()
horror_ROI_mean = horror_ww_gross_df['ROI'].mean()
biography_ROI_mean = biography_ww_gross_df['ROI'].mean()
sciFi_ROI_mean = sciFi_ww_gross_df['ROI'].mean()
mystery_ROI_mean = mystery_ww_gross_df['ROI'].mean()
fantasy_ROI_mean = fantasy_ww_gross_df['ROI'].mean()
animation_ROI_mean = animation_ww_gross_df['ROI'].mean()
family_ROI_mean = family_ww_gross_df['ROI'].mean()
documentary_ROI_mean = documentary_ww_gross_df['ROI'].mean()
history_ROI_mean = history_ww_gross_df['ROI'].mean()
music_ROI_mean = music_ww_gross_df['ROI'].mean()
sport_ROI_mean = sport_ww_gross_df['ROI'].mean()
war_ROI_mean = war_ww_gross_df['ROI'].mean()
western_ROI_mean = western_ww_gross_df['ROI'].mean()
musical_ROI_mean = musical_ww_gross_df['ROI'].mean()
unknown_ROI_mean = unknown_ww_gross_df['ROI'].mean()
news_ROI_mean = news_ww_gross_df['ROI'].mean()

In [132]:
genres = ["drama", "comedy", "action", "adventure", "thriller", "crime", "romance", 
          "horror", "biography", "sciFi", "mystery", "fantasy", "animation", "family", 
          "documentary", "history", "music", "sport", "war", "western", "musical", 
          "unknown", "news"]
genres_ROI_mean = [drama_ROI_mean, comedy_ROI_mean, action_ROI_mean, adventure_ROI_mean, 
                   thriller_ROI_mean, crime_ROI_mean, romance_ROI_mean, horror_ROI_mean, 
                   biography_ROI_mean, sciFi_ROI_mean, mystery_ROI_mean, fantasy_ROI_mean, 
                   animation_ROI_mean, family_ROI_mean, documentary_ROI_mean, history_ROI_mean, 
                   music_ROI_mean, sport_ROI_mean, war_ROI_mean, western_ROI_mean, 
                   musical_ROI_mean, unknown_ROI_mean, news_ROI_mean]

In [144]:
list_of_ROI_mean = list(zip(genres, genres_ROI_mean))

In [147]:
df_ROI_mean = pd.DataFrame(list_of_ROI_mean, columns = ['genres', 'genre_ROI_mean'])

In [150]:
df_ROI_mean.sort_values(by = 'genre_ROI_mean', ascending= False, inplace = True)

In [151]:
df_ROI_mean

         genres  genre_ROI_mean
7        horror     1162.623767
10      mystery     1123.750202
4      thriller      682.898122
17        sport      504.711882
6       romance      351.176392
16        music      302.468707
12    animation      285.600624
11      fantasy      283.000024
1        comedy      279.013138
20      musical      278.010696
0         drama      276.159779
8     biography      263.715273
21      unknown      240.307708
3     adventure      231.317310
14  documentary      229.876559
2        action      219.350471
13       family      172.094453
15      history      170.805650
5         crime      159.199203
19      western       84.068855
18          war       49.530428
22         news       -1.658914
9         sciFi             NaN

In [115]:
drama_gross_total = drama_ww_gross_df['worldwide_gross'].sum()

In [116]:
drama_gross_total

58114916679

In [117]:
drama_median = np.median(drama_ww_gross_df['worldwide_gross'])

In [118]:
drama_median

37801088.5

In [119]:
def summing_worldwide(df):
    return df[col].sum()